.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 50px 100px 50px 100px;
  font-family: 'Markazi Text', serif;
}

.item-logo {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-nav {
  grid-column-start: 2;
  grid-column-end: 4;
}

.item-jombutron {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #495E57;
  width: 70%;
  margin: auto;
}

.item-special {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 70%;
  margin: auto;
}

.item-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 70%;
  margin: auto;
}


/*   *** JOMBUTRON SECTION ***    */
.item-jombutron h1 {
  color: #F4CE14;
}

.item-jombutron h2, p {
  color: white;
}

.item-jombutron img {
  width: 15%;
  height: 50%;
  border-radius: 10px;
  float: right;
}

.reserve-button {
  background-color: #F4CE14;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/*   *** JOMBUTRON SECTION ***    */





/*   *** SPECIAL SECTION ***    */

.menu-button {
  background-color: #F4CE14;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
/*   *** SPECIAL SECTION ***    */





/*   *** FOOD SECTION ***    */

/*   *** FOOD SECTION ***    */